<h1>Pizza Delivery Service</h1>
<h1>MEAN Stack "CRUD" Application Bhanu!</h1>
<br>
Table
<table border="1"> 
  <tr *ngFor="let user1 of users">
    <td>{{user1.name}}</td>
    <td>{{user1.age}}</td>
  </tr>
</table> 
<br>

<div class="form-group" ng-app=""> 
  <form>
		Enter Name
			<input type="text" class="form-control" name="firstname"
				ng-model="firstname" />
  </form>
</div>

<div ng-app="myApp" ng-controller="myCtrl">
  <button ng-click="myFunction()">Click me!</button>
  <h1>You entered: {{count}}</h1>
</div>
<script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope) {
  $scope.count = 0;
  $scope.myFunction = function() {
    $scope.count++;
    }
  });
</script>
    });
</script>
<br>

